<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<div class="main">
  <h1> Spell Weather and Clock Widget </h1>
  <div class="container">


        <app-clock></app-clock>



        <div class="clear"> </div>



    <app-calendar></app-calendar>



  </div>  <!-- Container End -->
</div> <!-- Main End -->


<app-footer></app-footer>



<script type="text/javascript">
  $(document).ready(function(){
    $('#clock_hou').jClocksGMT({offset: '-5', hour24: true});
    $('#clock_dc').jClocksGMT({offset: '-4', digital: false});
    $('#clock_india').jClocksGMT({offset: '+5.5'});
  });
</script>
<!--timer-->
<script type="text/javascript">
  var mydate=new Date()
  var year=mydate.getYear()
  if(year<1000)
    year+=1900
  var day=mydate.getDay()
  var month=mydate.getMonth()
  var daym=mydate.getDate()
  if(daym<10)
    daym="0"+daym
  var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
  var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")

</script>

